.navbarStyle 
{
    background-color: #EFE4D6 !important;
    border-bottom: 2px solid rgb(167, 138, 104)!important;
    /* position: absolute; */
}
.navbarLinks
{
    color: #382110;
    font-size: 18px;
    font-weight:bold;
}
.navbarSearchBtn 
{
    background-color: #382110 !important;
    border-color: #382110 !important;
    color: white !important;
}
.pages
{
    margin:auto !important;

}
.popupMsg_btn
{
    background-color: #58371F !important;
    border-color: #58371F !important;
    margin: auto;
    width: 20%;
}
.search-results
{
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 60px;
    width: 300px;
    padding: 6px;
    
    
}
.search-results-list
{
    list-style-type:none;
}
.search-results-ListItems
{
    padding: 5px;
    font-size: 18px;
    color: #382110;
    

}